body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* 상단 바 */
.top-bar {
    height: fit-content;
    padding: 2vh 5vw 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
    /* background-color: rgb(223, 159, 159); */
}

#back-button {
    border: none;
    background-color: rgb(149, 194, 166);
}

.page-title {
    font-size: 4vh;
}

#title-hr {
    width: 90%;
}

/* 정보 입력 */

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.id-input {
    margin: 1vh;
    margin-bottom: 0;
}

.pw-input {
    margin: 1vh;
    margin-bottom: 0;
}

.highlights {
    color: #7f6044;
    font-weight: bold;
}

.txt {
    font-weight: bold;
    font-size: 14px;
}

#id,
#pw1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 46px;
    background-color: #fff;
    border-radius: 5px;
    /* border: none; */
    border: 0.5px solid #a7a5a5;
    padding-left: 10px;
}

#find-info {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 12px;
}

#find-id {
    margin-bottom: 3px;
}

#find-id > a,
#find-pw > a {
    color: #000000;
}

#login_btn {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    padding: 1vh 2vh;
    border: none;
    background-color: #7f6044;
    color: #fff;
    border-radius: 25px;
    margin-top: 5vh;
}

#goTo {
    margin: 0 auto;
    text-align: center;
}

#question {
    font-size: 12px;
}

#goToSignup {
    background-color: #fff;
    border: 0;
    color: #7f6044;
    font-size: 12px;
}

#kakao-login-box {
    margin: 0 auto;
    width: 80vw;
}

/* margin-left 없애고 가운데 정렬 수정하기 */
#kakao-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fae64c;
    margin-top: 5vh;
    margin-left: 3vh;
    margin-right: 0;
    width: 349px;
    height: 58px;
    border: 0;
    color: #000000;
    font-size: 17px;
}

/* navbar */
#footer {
    height: 5rem;
    /* background-color: green; */
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
