body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* 상단 바 */
.top-bar {
    height: fit-content;
    padding: 2vh 5vw 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: start;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(223, 159, 159); */
}

#back-button {
    border: none;
    /* background-color: rgb(149, 194, 166); */
}

.page-title {
    font-size: 4vh;
}

#title-hr {
    width: 90%;
}

/* 멘트 */
#mention {
    margin-top: 6vh;
    text-align: center;
}

/* areas */
.area-box {
    margin: 0 auto;
    width: 80vw;
}
.titles {
    margin-bottom: 0;
}
.title-icon {
    margin-left: 3vw;
}

/* contries-area */

/* swiper */
.swiper-container {
    margin: 0 auto;
    height: 10vh;
    width: 65vw;
    border: 1px solid #000;
    border-radius: 10px;
    /* box-shadow: 0 0 20px #ccc inset; */
}
.swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    flex-direction: column;
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
    box-shadow: 0 0 5px #555;
    max-width: 100%;
    margin-top: 3vh; /*.swiper-slide >> 세로 가운데 정렬 x*/
}

.swiper-pagination {
    position: static;
}

.swiper-button-prev {
}

.swiper-button-next {
}

/* post-area */
.post-box {
    margin: 0 auto;
    border: solid 1px #000;
    width: 65vw;
    padding: 1vh 3vw;
    border-radius: 10px;
}

.post-info-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.post-info-top > p {
    margin: 0;
    font-size: 10px;
}

.post-info-top > p:last-child {
    margin-left: 2vw;
}

.post-info-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.post-info-main > p {
    margin: 0;
}

.post-info-main > p:last-child {
    margin-left: 2vw;
    font-size: 10px;
}

#post-title {
    margin: 0;
    font-size: 20px;
}

/* comment-area */
.comment-box {
    margin: 0 auto;
    border: solid 1px #000;
    width: 65vw;
    padding: 1vh 3vw;
    border-radius: 10px;
}

.comment-info-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.comment-info-top > p {
    margin: 0;
    font-size: 10px;
}

.comment-info-top > p:last-child {
    margin-left: 2vw;
}

.comment-info-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.comment-info-main > p {
    margin: 0;
}

.comment-info-main > p:last-child {
    margin-left: 2vw;
    font-size: 10px;
}

#comment-title {
    margin: 0;
    font-size: 20px;
}

/* navbar */
#footer {
    height: 5rem;
    /* background-color: green; */
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
