body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* 상단 바 */
.top-bar {
    height: fit-content;
    padding: 2vh 5vw 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: start;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(223, 159, 159); */
}

#back-button {
    border: none;
    /* background-color: rgb(149, 194, 166); */
}

.page-title {
    font-size: 4vh;
}

#title-hr {
    width: 90%;
}

/* 멘트 */
#explanation {
    margin: 0 auto;
    width: 90vw;
}

#mention {
    font-size: 10px;
}

#info > ul {
    font-size: 10px;
    padding-left: 5vw;
    color: #a57d5a;
}

/* 정보 입력 */

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.pw-input {
    margin: 2vh;
    margin-bottom: 0;
}
.pw-confirm {
    margin: 2vh;
}

.txt {
    font-weight: bold;
    font-size: 14px;
}

#pw1,
#pw2 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 46px;
    background-color: #fff;
    border-radius: 5px;
    /* border: none; */
    border: 0.5px solid #a7a5a5;
    padding-left: 10px;
}

#login_btn {
    width: 30vw;
    height: 5vh;
    margin: 0 auto;
    text-align: center;
    padding: 1vh 2vh;
    font-size: 14px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #ccb89d;
    color: #000;
    border: none;
}

/* navbar */
#footer {
    height: 5rem;
    /* background-color: green; */
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
