<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Savior : {% block title %}{% endblock %}</title>
    {% load static %} {% block extra-style %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Judson&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="background"></div>
      <header class="hd">
        <div class="hd-back">
          <img
            src="{% static 'image/nav/back.svg' %}"
            style="height: 30px"
            onclick="goBack()"
          />
        </div>
        <div class="hd-logo">
          <img src="{% static 'image/savior.png' %}" />
        </div>
        <div class="hd-profile">
          <a href="{% url 'savior:mypage' %}">
            <img src="{% static 'image/nav/user_color.png' %}"
          /></a>
        </div>
      </header>

      {% block content %} {% endblock %}

      <navigation class="nav">
        <a href="{% url 'savior:japan_exchange' %}"
          ><img src="{% static 'image/nav/money.svg' %}"
        /></a>
        <a href="{% url 'savior:recommend_japan' %}"
          ><img src="{% static 'image/nav/eat.png' %}"
        /></a>
        <a href="{% url 'savior:main' %}"
          ><img
            src="{% static 'image/nav/pin_color.png' %}"
            style="height: 45px"
        /></a>
        <a href="{% url 'savior:japan_pricelist' %}"
          ><img src="{% static 'image/nav/tag_color.png' %}"
        /></a>
        <a href="{% url 'savior:community' %}"
          ><img src="{% static 'image/nav/edit-message.png' %}"
        /></a>
      </navigation>
    </div>
    <script src="{% static 'js/go-back.js' %}"></script>
    <script src="{% static 'js/go-back-nonclick.js' %}"></script>
    {% block extra-script %}{% endblock %}
  </body>
</html>
