<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {width: 100px; height: 100px;}
    </style>
</head>
<body>
    <a href="{% url 'savior:main' %}">뒤로가기</a>
    <br>
    <h1>자유게시판</h1><br>
    <hr>
    {% for post in posts %}
        <!-- 제목 -->
        <a href="{% url 'savior:community_detail' post.pk %}">{{post.title}}</a><br>
        <!-- 유저 이름 -->
        {{ post.user.username }}<br>
        <!-- 해시태그 -->
        {% for tag in post.tags.all %}
            <a href="{% url 'savior:community_tag' tag_name=tag.name %}">#{{ tag.name }}</a> 
            {% endfor %}<br>
        <!-- 썸네일 -->
        {% if post.thumbnail %}
            <img src="{{post.thumbnail.url}}" alt="">
        {% endif %}<br>
        <!-- 좋아요 개수 -->
        좋아요 개수: {{ post.like_users.count }}
        <br><br>
        <hr>
    {% endfor %}
    <br><br><br>
    <a href="{% url 'savior:community_post' %}"><button>글쓰기</button></a>
</body>
</html>