<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'savior:community_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="title">제목</label>
            <input type="text" name="title"><br><br>
    
            <label for="content">내용</label>
            <textarea name="content" id="" cols="30" rows="10"></textarea><br><br>
            
            <label>사진 첨부</label>
            <input name="thumbnail" type="file"><br><br>

            <label for="id_tags">해시태그</label>
            <input id="id_tags" name="tags" type="text" placeholder="쉼표(,)로 구분하여 여러 태그 입력">

            <input type="submit" value="등록">
        </form>
</body>
</html>