<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {width: 100px; height: 100px;}
    </style>
</head>
<body>
    <a href="{% url 'savior:community' %}">뒤로가기</a><br><br><br>

    <!-- 글 -->
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>{{post.created}}</p><br>
    {% if post.thumbnail %}
        <img src="{{post.thumbnail.url}}" alt="">
    {% else %}
        <img src="" alt="">
    {% endif %}<br><br>

    {% if user.is_authenticated and user == post.user %}
        <a href="{% url 'savior:community_delete' post.pk %}"><button>삭제</button></a>
    {% endif %}
    <br><br><br>

    <!-- 댓글 -->
    <hr>
    {% for comment in post.comment_set.all %}
        {{ comment.user.username }}<br>
        {{ comment.content }}<br>
        {{ comment.created }}
        <br><br>
    {% endfor %}

    <br><br><br><br>
    <form method="POST">
        {% csrf_token %}
        <textarea name="comment"></textarea>
        <button type="submit">등록</button>
    </form>
</body>
</html>