{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Savoir : Login</title>
        <link rel="stylesheet" href="{% static 'css/exchange.css' %}" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Judson&display=swap"
            rel="stylesheet"
        />
        {% block content %}
    </head>
    <body>
        <div class="container">
            <div class="background"></div>
            <header class="hd">
                <div class="hd-back">
                    <img
                        src="{% static 'image/nav/back.svg' %}"
                        style="height: 30px"
                        onclick="goBack()"
                    />
                </div>
                <div class="hd-logo">
                    <img src="{% static 'image/savior.png' %}./" />
                </div>
                <div class="hd-profile">
                    <a href="">
                        <img src="{% static 'image/nav/user_color.png' %}"
                    /></a>
                </div>
            </header>

            <div class="inform">
                <div class="title">
                    <p>Exchange Rate</p>
                </div>
            </div>

            <section class="sec">

                <div class="choose">
                    <form action="{% url 'savior:exchange' %}" method="POST">
                        {% csrf_token %}
                        <!-- changeCountry -->
                        <select name="country" id="input-dropdown">
                            <option  selected disabled value="">국가 선택</option>
                            <option  value="japan">Japan</option>
                            <option value="USA">USA</option>
                            <option value="vietnam">Vietnam</option>
                            
                        </select>
                        <input type="submit" value="선택" />
                    </form>
                                                                
                </div>

                <form action="{% url 'savior:vietnam_exchange' %}" method="post">
                    {% csrf_token %}
                    <div class="content">
                        <div id="visit-country"> 
                            <div id="input">
                                <div id="result-main">
                                    <input type="number" class="exchange-input" id="btn_1"/>
                                </div>
                                
                            </div>
                            <div class="dots">
                                <img src="{% static 'image/icon/dots.png' %}" alt="dots" />
                            </div>
                        </div>

                        <div id="exchange">
                            <img src="{% static 'image/icon/exchange_to.png' %}" alt="exchange_to" />
                        </div> 
                        <div id="korea">
                            <div class="dots">
                                <img src="{% static 'image/icon/dots.png' %}" alt="dots" />
                            </div>
                            <div id="result">
                                <p id="krw">KRW</p>
                                <div id="result-main">
                                    <p id="krw-sign">{{KRW}}&#x20a9</p>
                                    
                                        <input
                    type="number"
                    name="KRW"
                    placeholder="원"
                    class="exchange-result"
                    value="{{ KRW|default:'' }}"
                    id="btn_2"
                />

                                </div>
                            </div>
                        </div>


                    <div>
                        <button type="submit" class="calc_btn" >환율 계산</button>
                    </div>
                </div>
                </form>

                <div class="modal_background"></div>

                <div class="modal_wrap">
                    <div class="modal_close">
                        <img src="{% static 'image/icon/close.png' %}" />
                    </div>
                    <div class="modal_text">
                        <div class="modal_logo">
                            <img src="{% static 'image/savior.png' %}" />
                        </div>

                        <div class="modal_content">
                            <div class="modal_mention">
                                <p>국가를 선택해주세요</p>
                            </div>
                        </div>
                    </div>
                </div>


            </section>

            <navigation class="nav">
                <a href="{% url 'savior:exchange' %}"
                    ><img src="{% static 'image/nav/money.svg' %}"
                /></a>
                <a href="#"><img src="{% static 'image/nav/eat.png' %}" /></a>
                <a href="#"
                    ><img
                        src="{% static 'image/nav/pin_color.png' %}"
                        style="height: 45px"
                /></a>
                <a href="{% url 'savior:pricelist' %}"
                    ><img src="{% static 'image/nav/tag_color.png' %}"
                /></a>
                <a href="{% url 'savior:community' %}"
                    ><img src="{% static 'image/nav/edit-message.png' %}"
                /></a>
            </navigation>
        </div>

        <script>
            const modal_wrap = document.querySelector(".modal_wrap");
const modal_background = document.querySelector(".modal_background");

function close() {
  modal_wrap.classList.remove("show-modal");
  modal_background.classList.remove("show-modal");
}
function open() {
  modal_wrap.classList.add("show-modal");
  modal_background.classList.add("show-modal");
}

//모달창 보여주는 이벤트 리스너

document.querySelector("#btn_1").addEventListener("click", () => {
    console.log("btn_1");
  open();
});
document.querySelector("#btn_2").addEventListener("click", () => {
  open();
});


//닫기 버튼눌러서 모달창 지우는 이벤트 리스너
document.querySelector(".modal_close").addEventListener("click", () => {
  close();
});

//모달창 바깥부분 눌러서 모달창 닫는 이벤트 리스너
window.addEventListener("click", (e) => {
  e.target === modal_background ? close() : false;
});



        </script>
        <script>
// 이전 페이지로 이동하는 함수
function goBack() {
  window.history.back();
}

// 뒤로가기 버튼 클릭 시 이벤트 처리
var backButton = document.getElementById("back");
backButton.addEventListener("click", goBack);

// 스와이프 동작 감지를 위한 변수 설정
var touchStartX = 0;
var touchEndX = 0;

// 터치 시작 위치 저장
window.addEventListener("touchstart", function (event) {
  touchStartX = event.changedTouches[0].screenX;
});

// 터치 종료 위치 저장 및 스와이프 동작 확인
window.addEventListener("touchend", function (event) {
  touchEndX = event.changedTouches[0].screenX;
  handleSwipe();
});

// 스와이프 동작 처리
function handleSwipe() {
  var swipeDistance = touchEndX - touchStartX;
  var minSwipeDistance = 100; // 최소한으로 인식할 스와이프 거리

  if (swipeDistance >= minSwipeDistance) {
    goBack();
  }
}

        </script>
        <script src="{% static 'js/go-back-nonclick.js' %}"></script>

        {% endblock %} 
    </body>
</html>