<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'savior:japan' %}">뒤로가기</a><br>
    <a href="{% url 'savior:mypage' %}">마이페이지</a><br><br>

    일본 잡화<br><br>
    
    <div>
        <form method="GET">
            <input type="text" autocomplete="off" name="keyword">
            <button type="submit">검색</button>
        </form>
    </div><br><br>

    {% for other in others %}
        <div>
            {{ other.japan_others }}
        </div>
    {% endfor %}
</body>
</html>