<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>password_reset_complete</title>
    </head>
    <body>
        {% block content %}
        <h1>비밀번호 변경 완료</h1>
        <p>
            Your new password has been set. You can log in now on the
            <a href="{% url 'savior:accounts:login' %}">log in page</a>.
        </p>
        <p>비밀번호 재설정 단계의 네 번째 페이지</p>

        {% endblock %}
    </body>
</html>
