{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Savoir : 비밀번호 재설정</title>
        <link
            rel="stylesheet"
            href="{% static 'css/password_reset_done.css' %}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Judson&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        {% block title %}Enter new password{% endblock %} {% block content %} {%
        if validlink %}

        <h1>PW 재설정</h1>
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Change my password" />
        </form>

        {% else %}
        <p>비밀번호 재설정 단계의 세 번째 페이지</p>
        <p>
            The password reset link was invalid, possibly because it has already
            been used. Please request a new password reset.
        </p>

        {% endif %} {% endblock %}
    </body>
</html>
