<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>password_reset</title>
    </head>
    <body>
        {% block title %}Forgot Your Password?{% endblock %} {% block content %}
        <div id="explanation">
            <h2 id="question">비밀번호를 잊으셨나요?</h2>
            <p id="mention">
                가입하신 이메일을 입력해 주세요. 비밀번호 재설정 메일이
                발송됩니다.
            </p>
        </div>

        <form method="POST">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="email-input">
                <span class="txt">이메일</span>
                <div id="email-form">
                    <input
                        required
                        maxlength="30"
                        type="email"
                        name="email"
                        placeholder="예: likelion1234@likelion.org"
                        id="email"
                    />
                    <button type="submit" id="send_btn">전송</button>
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>
