<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Savoir : {% block title %}USA_clothes{% endblock %}</title>
    {% load static %} {% block extra-style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/japan.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Judson&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="background"></div>
      <header class="hd">
        <div class="hd-back">
          {% block back %}
          <a href="{% url 'savior:USA' %}"
            ><img
              src="{% static 'image/nav/back.svg' %}"
              style="height: 30px" /></a
          >{%endblock %}
        </div>
        <div class="hd-logo">
          <img src="{% static 'image/savior.png' %}" />
        </div>
        <div class="hd-profile">
          <a href="{% url 'savior:mypage' %}">
            <img src="{% static 'image/nav/user_color.png' %}"
          /></a>
        </div>
      </header>

      {% block content %}

      <div class="inform">
        <!-- 품목 -->
        <div class="title">
          <p>의류</p>
        </div>
        <!-- 나라 태그 -->
        <div class="tag">
          <p>USA</p>
        </div>
      </div>

      <section class="sec">
        <div>
          <form method="GET" class="search">
            <input
              type="text"
              autocomplete="off"
              name="keyword"
              placeholder="검색어를 입력하세요"
            />
            <button type="submit">
              <img src="{% static 'image/icon/scope.png' %}" alt="." />
            </button>
          </form>
        </div>

        <div class="items">
          {% if clothes %}
          <a href="{% url 'savior:USA_clothes_detail' clothes.0.pk %}">
            <div class="items-shirts">
              <img
                src="{% static 'image/price/clothes/tshirt.png' %}"
                alt="."
              />
              <div class="item-info">
                {{ clothes.0.usa_clothes }}
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart-outline.svg' %}" />
                </div>
              </div>
            </div>
          </a>

          <hr />

          <a href="{% url 'savior:USA_clothes_detail' clothes.1.pk %}">
            <div class="items-pants">
              <img src="{% static 'image/price/clothes/pants.png' %}" alt="." />
              <div class="item-info">
                {{ clothes.1.usa_clothes }}
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart-outline.svg' %}" />
                </div>
              </div>
            </div>
          </a>

          <hr />

          <a href="{% url 'savior:USA_clothes_detail' clothes.2.pk %}">
            <div class="items-cap">
              <img src="{% static 'image/price/clothes/cap.png' %}" alt="." />
              <div class="item-info">
                {{ clothes.2.usa_clothes }}
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart-outline.svg' %}" />
                </div>
              </div>
            </div>
          </a>

          <hr />

          <a href="{% url 'savior:USA_clothes_detail' clothes.3.pk %}">
            <div class="items-onepiece">
              <img
                src="{% static 'image/price/clothes/onepiece.png' %}"
                alt="."
              />
              <div class="item-info">
                <span>{{ clothes.3.usa_clothes }}</span>
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart-outline.svg' %}" />
                </div>
              </div>
            </div>
          </a>

          <hr />

          <a href="{% url 'savior:USA_clothes_detail' clothes.4.pk %}">
            <div class="items-shoes">
              <img src="{% static 'image/price/clothes/shoes.png' %}" alt="." />
              <div class="item-info">
                <span>{{ clothes.4.usa_clothes }}</span>
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart-outline.svg' %}" />
                </div>
              </div>
            </div>
          </a>

          <hr />
          {% endif %}
        </div>

        <div class="add-button"><a href="#">+</a></div>
      </section>

      {% endblock %}

      <navigation class="nav">
        <a href="{% url 'savior:USA_exchange' %}"
          ><img src="{% static 'image/nav/money.svg' %}"
        /></a>
        <a href="{% url 'savior:recommend' %}"
          ><img src="{% static 'image/nav/eat.png' %}"
        /></a>
        <a href="{% url 'savior:main' %}"
          ><img
            src="{% static 'image/nav/pin_color.png' %}"
            style="height: 45px"
        /></a>
        <a href="{% url 'savior:USA_pricelist' %}"
          ><img src="{% static 'image/nav/tag_color.png' %}"
        /></a>
        <a href="{% url 'savior:community' %}"
          ><img src="{% static 'image/nav/edit-message.png' %}"
        /></a>
      </navigation>
    </div>

    <script src="{% static 'js/go-back.js' %}"></script>
    <script src="{% static 'js/go-back-nonclick.js' %}"></script>
    <script src="{% static 'js/scrap.js' %}"></script>
    <!-- <a href="{% url 'savior:USA' %}">뒤로가기</a><br>
    <a href="{% url 'savior:mypage' %}">마이페이지</a><br><br>

    미국 의류<br><br>
    
    <div>
        <form method="GET">
            <input type="text" autocomplete="off" name="keyword">
            <button type="submit">검색</button>
        </form>
    </div><br><br>

    {% for u_clothes in clothes %}
        <div>
            <a href="{% url 'savior:USA_clothes_detail' u_clothes.pk %}">{{ u_clothes.usa_clothes }}</a><br>
        </div>
    {% endfor %} -->
  </body>
</html>
