{% extends 'base.html' %} {% load static %} {% block title %}미국 - 잡화{%endblock %} {% block extra-style %}
<link rel="stylesheet" href="{% static 'css/price_detail.css' %}" />
{% endblock %} {% block back %}
<a href="{% url 'savior:USA_others' %}"><img src="{% static 'image/nav/back.svg' %}" style="height: 30px" /></a>
{% endblock %} {% block content %}
<div class="inform">
  <!-- 품목 -->
  <div class="title">
    <p>잡화</p>
  </div>
  <!-- 나라 태그 -->
  <div class="tag">
    <p>USA</p>
  </div>
</div>

<section class="sec">
  <!-- 시세 -->
  <div class="content-total">
    <div class="content">
      <!-- 품목 사진 -->
      <div class="img">
        <img src="{% static 'image/price/others/usa/toys.png' %}" />
      </div>
      <div class="text-box">
        <div class="text">
          <!-- 품목 이름 -->
          <div class="thing-title">
            <div class="thing">
              <p>{{USA_others_post.usa_others}}</p>
            </div>
            <div class="heart" onclick="toggleHeartImage()">
              <img src="{% static 'image/icon/heart-outline.svg' %}" />
            </div>
          </div>
          <!-- 품목 평균 & 최대 최소 -->
          <div class="average-maxmin">
            <div class="average">
              <div class="averge-title">
                <p>평균</p>
              </div>
              <div class="averge-price">
                <p>{{ average_number }}</p>
                <!-- 화폐 단위 -->
                <p style="margin-left: 5px">$</p>
              </div>
            </div>
            <div class="maxmin">
              <div class="max">
                <img src="{% static 'image/icon/up.svg' %}" />
                <p style="font-size: 18px; color: #a88b68">MAX</p>
                <p style="font-weight: bold">{{ max_number }}</p>
                <!-- 화폐 단위 -->
                <p style="font-weight: bold; margin-left: 5px">$</p>
              </div>
              <hr />
              <div class="min">
                <img src="{% static 'image/icon/down.svg' %}" />
                <p style="font-size: 18px; color: #a88b68">MIN</p>
                <p style="font-weight: bold">{{ min_number }}</p>
                <!-- 화폐 단위 -->
                <p style="font-weight: bold; margin-left: 5px">$</p>
              </div>
            </div>
          </div>
          <!-- 시세 리스트 -->
          <div class="list">
            <!-- 작성된 시세 -->
            {% for comment in USA_others_post.usa_others_comment_set.all %}
            <div class="list-price">
              <div class="list-content">
                <!-- 내용 -->
                <p>{{comment.content }}</p>
                <!-- 날짜 -->
                <p style="font-size: 10px">23.08.12</p>
              </div>
              <div class="list-content-price">
                <p>{{ comment.number }}</p>
                <!-- 화폐 단위 -->
                <p style="margin-left: 5px">$</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 시세 입력 버튼 -->
  <button id="modal_btn" type="button">
    <img src="{% static 'image/icon/plus.svg' %}" />
  </button>
  <!-- 모달창 -->
  <div class="modal_background"></div>
  <div class="modal_wrap">
    <div class="modal_close">
      <img src="{% static 'image/icon/close.png' %}" />
    </div>
    <div class="modal_text">
      <form action="" method="post">
        {% csrf_token %}
        <div class="modal_price_box">
          <div class="modal_price">
            <input type="text" name="number" />
            <!-- 화폐 단위 -->
            <p>$</p>
          </div>
        </div>
        <div class="modal_content">
          <textarea name="comment" placeholder="구입 방법에 대한 설명을 적어주세요."></textarea>
        </div>
        <div class="submit_btn">
          <input type="submit" value="시세 올리기" name="submit" />
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %} {% block extra-script %}
<script>
  let isHeartFilled = false;

  function toggleHeartImage() {
    const heartImage = document.querySelector(".heart img");

    if (isHeartFilled) {
      heartImage.src = "{% static 'image/icon/heart-outline.svg' %}";
    } else {
      heartImage.src = "{% static 'image/icon/heart.svg' %}";
    }

    isHeartFilled = !isHeartFilled;
  }
</script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
