{% extends 'base.html' %} {% load static %} {% block title %}베트남 - 음식{%endblock %} {% block extra-style %}
<link rel="stylesheet" href="{% static 'css/japan.css' %}" />
{% endblock %} {% block back %}
<a href="{% url 'savior:japan' %}"><img src="{% static 'image/nav/back.svg' %}" style="height: 30px" /></a>
{% endblock %} {% block content %}
      <div class="inform">
        <!-- 품목 -->
        <div class="title">
          <p>음식</p>
        </div>
        <!-- 나라 태그 -->
        <div class="tag">
          <p>Vietnam</p>
        </div>
      </div>

      <section class="sec">
        <div>
          <form method="GET" class="search">
            <input
              type="text"
              autocomplete="off"
              name="keyword"
              placeholder="검색어를 입력하세요"
            />
            <button type="submit">
              <img src="{% static 'image/icon/scope.png' %}" alt="." />
            </button>
          </form>
        </div>

        <div class="items">
          {% if foods %}
          
            <div class="items-shirts">
                <a href="{% url 'savior:recommend_vietnam'  %}">
                <img
                src="{% static 'image/price/foods/vietnam/chazio.png' %}"
                alt="."
              /></a>
              <div class="item-info">
                <a href="{% url 'savior:recommend_vietnam'  %}">{{ foods.0.vietnam_foods }}</a>
                <div class="item">
                  <img class="heart-image" src="{% static 'image/icon/heart.svg' %}">
                </div>
              </div>
            </div>

          <hr />
            <div class="items-pants">
                <a href="{% url 'savior:recommend_vietnam' %}">
              <img
                src="{% static 'image/price/foods/vietnam/ricenoodle.png' %}"
                alt="."
              /></a>
              <div class="item-info">
                <a href="{% url 'savior:recommend_vietnam' %}">{{ foods.1.vietnam_foods }}</a>
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart-outline.svg' %}" />
                </div>
              </div>
            </div>

          <hr />
          
            <div class="items-cap">
                <a href="{% url 'savior:recommend_vietnam' %}">
              <img
                src="{% static 'image/price/foods/vietnam/coffee.png' %}"
                alt="."
              /></a>
              <div class="item-info">
                <a href="{% url 'savior:recommend_vietnam' %}">{{ foods.2.vietnam_foods }}</a>
                <div class="heart" onclick="toggleHeartImage()">
                  <img src="{% static 'image/icon/heart.svg' %}" />
                </div>
              </div>
            </div>
          </a>
          <hr />
          {% endif %}
        </div>

        <div class="add-button"><a href="#">+</a></div>
      </section>
{% endblock %} {% block extra-script %} {% endblock %}
