<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'savior:vietnam' %}">뒤로가기</a><br>
    <a href="{% url 'savior:mypage' %}">마이페이지</a><br><br>

    
    <form action="{% url 'savior:exchange' %}" method="POST">
        {% csrf_token %}
        <select name="country"> 
            <option value="">--국가 선택--</option> 
            <option value="japan">일본</option> 
            <option value="USA">미국</option> 
            <option value="vietnam">베트남</option> 
        </select>
        <input type="submit" value="선택">
    </form>

    <br>
    베트남 환율계산기
    <br>

    <form action="{% url 'savior:vietnam_exchange' %}" method="post" >
        {% csrf_token %}
        <p>
            VND <br>
            <input type="number" placeholder="가격을 입력하세요" name='VND'>동
        </p>
        <p>
            KRW <br>
            {{VND}}동 = <input type="number" name='KRW' value="{{ KRW|default:'' }}">원
        </p>
        <button type="submit" name="submit">환율 추적</button>
    </form>
</body>
</html>
	